<!DOCTYPE html>
<html>
<head>

<title>Menu</title>
<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
         <!-- My css -->
        <link href="../static/css/menu.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<ul class="menu">
<li><a href="#">Home</a></li>
<li><a href="#">Alumnos</a></li>
<li><a href="#">Profesores</a></li>
<li><a href="#">Curso</a></li>
<li><a href="#">Asignaturas</a></li>
</ul>

</body>
</html>