<!DOCTYPE html>
<html>
<head>
<head>
        <title>TTSchool</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <!-- ARCHIVOS CSS Bootstrap -->
        <link href="#" th:href="@{/bootstrap-3.3.7/css/bootstrap-theme.css}" rel="stylesheet" type="text/css"/>
    	<link href="#" th:href="@{/bootstrap-3.3.7/css/bootstrap.css}" rel="stylesheet" type="text/css"/>
      
        <!-- Archivos CSS Propios -->
    <link href="#" th:href="@{/css/ttschool.css}" rel="stylesheet" />
    </head>
</head>
<body>
<div class="container-fluid">
		<br/>
		<div class="row">
			<div class="col-md-4">
				<ul class ="nav nav-tabs">
					<li role="presentation" class="active"><a href="#">Profesores</a></li>
					<li role="presentation"><a href="#">Item 2#</a></li>
					<li role="presentation"><a href="#">Item 3#</a></li>
				</ul>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-4">
				<ul class ="nav nav-pills">
					<li role="presentation" class="active"><a href="#">Profesores</a></li>
					<li role="presentation"><a href="#">Item 2#</a></li>
					<li role="presentation"><a href="#">Item 3#</a></li>
				</ul>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-4">
				<ul class ="nav nav-pills nav-stacked">
					<li role="presentation" class="active"><a href="#">Profesores</a></li>
					<li role="presentation"><a href="#">Item 2#</a></li>
					<li role="presentation"><a href="#">Item 3#</a></li>
				</ul>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-4">
				<ul class ="nav nav-tabs nav-justified">
					<li role="presentation" class="active"><a href="#">Profesores</a></li>
					<li role="presentation"><a href="#">Item 2#</a></li>
					<li role="presentation"><a href="#">Item 3#</a></li>
				</ul>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-4">
				<ul class ="nav nav-pills nav-justified">
					<li role="presentation" class="active"><a href="#">Profesores</a></li>
					<li role="presentation"><a href="#">Item 2#</a></li>
					<li role="presentation"><a href="#">Item 3#</a></li>
				</ul>
			</div>
		</div>
			
</div>



 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>
</html>